<launch>
  <rosparam command="load" file="$(find rosbot_navigation)/config/costmap_common.yaml" ns="global_costmap"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/costmap_common.yaml" ns="local_costmap"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/global_costmap.yaml"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/local_costmap.yaml"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/base_local_planner.yaml"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/move_base.yaml"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen" clear_params="true">
    <remap from="cmd_vel" to="/cmd_vel_nav"/>
  </node>
</launch>
