<launch>
  <rosparam command="load" file="$(find rosbot_navigation)/config/costmap_common.yaml" ns="move_base/global_costmap"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/costmap_common.yaml" ns="move_base/local_costmap"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/global_costmap.yaml" ns="move_base"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/local_costmap.yaml" ns="move_base"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/base_local_planner.yaml" ns="move_base"/>
  <rosparam command="load" file="$(find rosbot_navigation)/config/move_base.yaml" ns="move_base"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen" clear_params="false">
    <remap from="cmd_vel" to="/cmd_vel_nav"/>
  </node>
</launch>
