<launch>
  <arg name="enable_slam" default="true"/>
  <arg name="enable_move_base" default="true"/>
  <arg name="use_slam_toolbox" default="true"/>
  <arg name="use_saved_map" default="false"/>
  <arg name="map_file" default=""/>
  <arg name="enable_ir_safety" default="true"/>
  <arg name="enable_laser_nav_safety" default="true"/>

  <include if="$(eval arg('enable_slam') == 'true' and arg('use_saved_map') != 'true')" file="$(find rosbot_navigation)/launch/slam.launch">
    <arg name="use_slam_toolbox" value="$(arg use_slam_toolbox)"/>
  </include>

  <group if="$(arg use_saved_map)">
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <param name="odom_frame_id" value="odom"/>
      <param name="base_frame_id" value="base_link"/>
      <param name="global_frame_id" value="map"/>
      <param name="odom_model_type" value="diff-corrected"/>
      <param name="tf_broadcast" value="true"/>
      <param name="update_min_d" value="0.05"/>
      <param name="update_min_a" value="0.10"/>
      <param name="min_particles" value="200"/>
      <param name="max_particles" value="1000"/>
    </node>
  </group>

  <include if="$(arg enable_move_base)" file="$(find rosbot_navigation)/launch/move_base.launch">
    <arg name="enable_laser_nav_safety" value="$(arg enable_laser_nav_safety)"/>
    <arg name="map_service" value="$(eval '/static_map' if arg('use_saved_map') == 'true' else ('/slam_toolbox/dynamic_map' if arg('use_slam_toolbox') == 'true' else '/static_map'))"/>
  </include>
  <include file="$(find rosbot_navigation)/launch/twist_mux.launch">
    <arg name="enable_ir_safety" value="$(arg enable_ir_safety)"/>
  </include>
</launch>
